body {
  width: 200px;
  padding: 10px;
}

h1 {
  text-align: center;
}

.accordion {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 10px;
  display: none;
  background-color: white;
}

textarea {
  width: 200px;
  min-height: 100px;
}
